/* .main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: white;
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  } 

  input{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      box-shadow: inset 0px 0px 25px 0px #888;
      border: none;
      outline: none;
      background-color: #fff;
  }

  .email{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px;
  }

  .name{
      padding-left: 70px;
      font-size: 20px;
  }
  .second-input{
      padding-top: 20px;
  }

  button{
      width: 380px;
      height: 50px;
      border-radius: 60px;
      background-color: #b103fc;
      color: white;
      font-size: 25px;
      border: none;
  }
  .login-button{
      padding-top: 25px;
  }

  .link{
      font-size: 25px;
      font-weight: 400;
  }
   a{
       color: blue;
   } */
 
  .App {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
  }
  .App > .logo {
    max-width: 90%;
  }
  .App > .form {
    margin-bottom: 98px;
    margin-top: 41px;
  }
  
  .input-group {
    margin-bottom: 26px;
  }
  .input-group:nth-last-child(-n + 2) {
    margin-bottom: 50px;
  }
  .input-group > label,
  .input-group > input {
    font-family: 'Roboto', sans-serif;
    max-width: 420px;
    text-align: left;
    width: 80%;
  }
  .input-group > label {
    color: #676767;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .input-group > input {
    background: #f2f2f5;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #676767;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: all 0.3s;
  }
  .input-group > input:focus {
    background: #fff;
    border-color: #c4c4c4;
  }
  .input-group > input::placeholder {
    color: #c4c4c4;
    font-size: 16px;
  }
  
  button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 80%;
  }
  button.primary {
    background: #f58733;
  }
  button.primary:hover {
    background: #ea6c0b;
  }
  button.secondary {
    background: #c1d7aa;
  }
  button.secondary:hover {
    background: #a8c787;
  }
  